.block
  %h3 Links
  %ul.navigation
    %li=link_to "Wadokukogo Group","http://groups.google.com/group/wadokukogo"
    %li=link_to "Wörterbuch zur altjapanischen Liedersammlung Kokinshû", "http://issuu.com/roger.braun/docs/florenz_-_kokinshuwoerterbuch"
