#block-text.block
  .content
    %h2.title Dashboard
    .inner
      %p.first
        Unter "Entries" lassen sich die Einträge für das Kogojiten bearbeiten. Hier wird erstmal nur das Florenzsche Wörterbuch ordentlich aufgenommen, es müssen also nur die Einträge bereinigt und gecheckt werden. Unsinnige Einträge bitte entweder in sinnvolle umwandeln oder löschen wenn sie offensichtlich Datenmüll sind.
-content_for :sidebar, partial("base/sidebar")
