%hr.space
%h1 和独古語辞典
%hr
%h2.alt Ein Wörterbuch für klassisches Japanisch
.span-24.last
  - form_tag "/search", :class => "inline", :method => "get" do
    =label_tag :q, :class => "first"
    =text_field_tag :q, :value => params[:q], :class => "title"
%hr.space
- if @results != nil
  .span-24.last
    =flash_tag :notice
    %table{:summary => "Die Suchergebnisse", :border => "0", :cellspacing => "0", :cellpadding => "0"}
      %caption
        %em Suchergebnisse
      %thead
        %tr
          %th.span-4 Lesung
          %th.span-20.last Übersetzung
      %tbody
        -@results.andand.each do |result|
          %tr
            %td= result.lemma
            %td= result.body
