<!DOCTYPE html>
%html
  %head
    ='<meta charset="utf-8">'
    %title 和独古語辞典
    =stylesheet_link_tag("screen", "fancy-type/screen", "Autocompleter")
    =javascript_include_tag("http://www.google.com/jsapi")
    :javascript
      google.load("mootools", "1.2.4");
    =javascript_include_tag("Autocompleter","Autocompleter.Local","Autocompleter.Request","Observer")
       
  %body
    =javascript_include_tag("http://fast.fonts.com/jsapi/2783147c-8b49-424b-ac03-1c5666545069.js")
    .container
      =yield
